body {
    background-color:mintcream;
    font-family: 'Pacifico', cursive;
    color: salmon;
    font-size: 20px;
}
.video {

    display:flex;
    justify-content: center;
    width: 100%;
    
    
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

