body {
    background-color: white;
    font-family: 'Walter Turncoat', cursive;
    color: salmon;
    font-size: 20px;
}
.video {

    display:flex;
    justify-content: center;
    width: 100%;
    
    
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media all and (max-width:600px) {
    body {
        
        background-color: pink;
    }
}

